<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ掲示板
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <div class="messageRow">
        <span class="col-sm-2 label label-info" id="lblName"><%= message.name %>(<%= message.age %>)</span>
          <div class="col-sm-10"><%= message.body %> 
            (<% if message.created_at >= message.updated_at then %>
            　<%= message.created_at.to_s(:datetime) %>
             <% else %>
              <%= message.updated_at.to_s(:datetime) %>
             <% end %>
             ) 
          【<%= link_to "編集" , edit_message_path(message) %> / 
           <%= link_to "削除" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
          】
          </div>
      </div>
      <br>
    <% end %>
  </div>
</div>

<%= render 'form' %>